.home-admins{
    background-color: #ECECEC;
    width: 100%;
    border-radius: 15px;
    padding: 23px;
}
h1.home-admins-title{
    font-weight: normal;
}

.home-admin-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
a.home-admin-view-all{
    border-radius: 8px;
    border: 2px solid #9F9F9F;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    align-self: center;
    color:#5A5A5A; ;
}