/* @media screen and (min-width: 1150px) { */
    .home-users {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
    }

    .home-user-hos,
    .home-user-spec {
        min-height: 360px ;
        display: block;
        width: 100%;
        background-color: #ECECEC;
        padding: 15px;
        border-radius: 15px;
    }

    .home-user-hos {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }

     .btn-view-all {
        width: 100%;
        border: 2px solid var(--btn-form-background);
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        padding: 12px 0;
        /* font-family: "Poppins", sans-serif; */
    }
    
    @media screen and (min-width: 768px) {
        .home-user-hos,
        .home-user-spec {
            width: 48%;
        }

        .home-users {
            gap: 20px;
        }

        .btn-view-profile {
            font-size: 16px;
        }
    }

    .home-users h1 {
        font-weight: 400;
        font-size: 18px;
    }

    .home-user-hos-pro {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-img-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .home-profile-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .hospital-title p {
        font-size: 0.9rem;
        margin: 5px;
        margin-left: 0px;
        text-transform: capitalize;
    }

    .btn-view-profile {
        background-color: var(--btn-form-background);
        color: #FFF;
        font-size: 0.7rem;
        padding: 5px 10px;
        border-radius: 8px;
    }

    .home-user-spec{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-user-spec-pros{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .home-user-spec-pro{
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .home-user-spec-pro p{
        margin: 0;
        text-align: center;
    }

    .home-avatar img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .spec-stars{
        width: 80%;
    }
/* } */



/* for the large view */
@media screen and (min-width:1305px) {
    .home-profile-img img{
        width: 70px;
        height: 70px;
    }
    .hospital-title p{
        font-size: 1.1rem;
    }
    .btn-view-profile{
        font-size: 1.1rem;
    }

    .home-avatar img{
        width: 110px;
        height: 110px;
    }
}