.personal-details{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.personal-details-info-fields{
    border-bottom: 1px solid rgb(33, 63, 125,0.1);
}

.person-details-info  h3{
    font-weight: 600;
    color: #1F2737;
    font-size: 1rem;
    margin-bottom: 30px;
}
.personal-details-info-fields{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 3.33%; */
}
.personal-details-info-field{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.personal-details-info-field h4{
    color: #6E7792;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.personal-details-info-field p{
    color: #545F7D;
    font-size: 0.8rem;
    font-weight: bold;
    
}
.personal-details-info-field .pName{
    text-transform: capitalize;
}

/* for the large view */
@media screen and (min-width:1319px) {
    .personal-details-info-field{
        width: 23%;
    }
}