@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --body-bg-color: #D0D0D0;
  --auth-bg-color: #F0F0F0;
  --nav-ver--bg-color: #F1F1F1;;
  --brand-text-color: #212323;
  --auth-input-background: #E4E4E4;
  --btn-form-background: #10ACF5;
  --brand-color-blue: #10ACF5;
  --brand-nav-color: #FFF;
  --nav-links-color: #9F9F9F;
  --metric-bg-color: #ECECEC;
}

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--body-bg-color);
}
.auth-body{
  background-color: var(--auth-bg-color);
  position: relative;
}
.spinner{
  position:absolute;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff79;
  max-width: 1700px;
  margin: 0 auto;
  z-index: 10;
}
.spinner-details{
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

a{
  color: var(--brand-text-color);
  text-decoration: none;
}

button{
  border:none;
  outline: none;
}

button:hover{
  cursor: pointer;
  
}

.btn{
  border: 2px solid var(--btn-form-background);
  background-color: var(--btn-form-background);
  color: #FFFFFF ;
  font-size:1rem;
  padding: 10px 20px;
  border-radius: 8px;
}
.btn:hover{
  color: var(--btn-form-background);
  background-color: #FFFFFF;
}
button.warn{
  background-color: #DE3163;
  border-color: #DE3163;
}
button.sucess{
  background-color: #489754;
  border-color: #489754;
}